.main {
    min-height: calc(100vh - 150px);
}

.sidebar-nav .nav-content a {
    font-weight: 500;
}

.form-control::placeholder {
    color: #b3b3b3;
    font-size: 12px;
}

.input-group-text {
    font-size: 13px;
}

.text-small {
    font-size: 85%;
}

.text-semibold {
    font-weight: 600;
}
